@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    text-decoration: none;
}
header{
    background-color: #CFD2CF;
    width: 100%;
    position: fixed;
    z-index: 999;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 200px;
}

.logo{
    color: #1F4690;
    text-transform: uppercase;
    font-size: 1.8em;
    font-weight: 700;

}
.logo img{
    width: 100% ;
    height: 60px;
}

.navbar a{
    color: #1F4690;
    font-size: 1.1em;
    font-weight: 500;
    padding-left: 30px;
    transition: 0.7s ease;
}
.navbar a:hover{
    color: #293462;
}

section{
    padding: 100px 200px;
}
.main{
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    background-color: #16213E;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.main h2{
    color: #fff;
    font-size: 1.6em;
    font-weight: 500;
}
.main h2 span{
    color: #1F4690;
    font-size: 3em;
    font-weight: 600;
    display: inline-block;
    margin-top: 10px;
}

.main h3{
    color: #fff;
    font-size: 2em;
    font-weight: 700;
    letter-spacing: 1px;
    margin-top: 10px ;
    margin-bottom: 30px;
}

.main-btn{
    color: #fff;
    background-color: #1F4690;
    font-size: 1.1em;
    font-weight: 600;
    display: inline-block;
    padding: 0.9375em 2.1875em;
    letter-spacing: 1px ;
    border-radius: 20px;
    margin-bottom: 40px;
    transition: 0.7s ease;
}

.main-btn:hover{
    color: #1F4690;
    background-color: #fff;
    transform: scale(1.1);
}

.social a{
    color: #fff;
    font-size: 1.7em;
    font-weight: 400;
    padding-right: 15px;
}

.title{
    display: flex;
    justify-content: center;
    color: #1F4690;
    font-size: 3em;
    font-weight: 700;
    margin-bottom: 30px;
}

.content{
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.card{
    background-color: #fff;
    width : 21.25em;
    box-shadow: 0 5px 25px rgba(1, 1, 1, 15%);
    border-radius: 10px ;
    padding: 25px;
    margin: 15px ;
    transition: 0.7s ease;
    
}
.card:hover{
    transform: scale(1.1);
}

.icon{
    color: #FF5F00;
    font-size: 8em;
    text-align: center;
}

.icon-php{
    color: #A85CF9;
    font-size: 8em;
    text-align: center;
}

.icon-unity{
    color: #000;
    font-size: 8em;
    text-align: center;
}

.info{
    text-align: center;
}

.info h3{
    color: #005555;
    font-size: 1.2em;
    font-weight: 700;
    margin: 10px ;
}

.projects{
    background-color: #16213E;
}

.projects .content{
    margin-top: 30px;
}

.project-card{
    background-color: #fff;
    border:1px solid #fff;
    min-height: 14em;
    width: 23em;
    overflow: hidden;
    border-radius: 10px ;
    margin: 20px ;
    transition: 0.7s ease;
}

.project-card:hover{
    transform: scale(1.1);
}

.project-card:hover .project-image{
    opacity: 0.9;
}
.project-image img{
    width: 100%;
}

.project-info{
    padding: 1em;
}

.project-info .project-category{
    font-size: 0.8em;
    color: #000;
}

.project-title{
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
    font-weight: 800;
    margin-top: 10px;
}

.more-btn{
    color: #fff;
    background-color: #1F4690;
    font-size: 0.5em;
    font-weight: 400;
    display: inline-block;
    padding: 0.9375em 2.1875em;
    letter-spacing: 1px ;
    border-radius: 20px;
    transition: 0.7s ease;
}

.more-btn:hover{
    color: #1F4690;
    background-color: #fff;
    transform: scale(1.1);
}

.card-contact .icon{
    font-size: 4.5em;
    color: #1F4690;
}

.card-contact .icon-email{
    font-size: 4.5em;
    color: #1F4690;
    text-align: center;
}

.card-contact .info h3{
    color: #005555;
}

.card-contact .info p{
    color: #000;
    font-size: 1.1em;
}

.footer{
    background-color: #16213E;
    display: flex;
    justify-content: space-between;
    color: #fff;
    padding: 2em;
}

.footer .social{
    font-size: 0.8em;
    padding: 0px 12px 0px 0px ;
}

.footer-title{
    font-size: 0.8em;
    font-weight: 600;
} 
.footer-title span{
    color: #CFD2CF;
}


@media (max-width:1023 ){
    header{
        padding: 10px 15px;
    }
    .navbar a{
        padding-left: 10px ;
    }
    .title{
        font-size: 1.8em;
    }
    section{
        padding: 80px 20px ;
    } 
    
    .main h2{
        font-size: 1em;
    }
    .main h3{
        font-size: 1.6em;
    }
    .content{
        flex-direction: column;
        align-items: center;
    }
}

@media (max-widht:641){
    body{
        font-size: 12px;

    }

    .main .content h2{
        font-size: 0.8em;
    }

    .main .content h3{
        font-size: 1.4em;
    }
}

@media (max-width:300){
    body{
        font-size: 10px;
    }
}